@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* 
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: var(--font-regular);
}


/* utility class */
.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
    --primary-text-color: rgb(44, 44, 44);
    --secoundry-text-color: rgb(66, 69, 74);
    --pading: 0px 35px;
    --border: 2px solid red;
    --font-regular: Poppins, Verdana, Geneva, Tahoma, sans-serif;
}

/* hhhhhhhhhhhhhhh main contaner hhhhhhhhhhhhhhhhhhhh */

.main-Container {
    max-width: 1800px;
    margin: auto;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section one hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

.main-Container .header-section {
    width: 100%;
    height: 100vh;
}



/* making nav */
.header-section nav {
    width: 100%;
    height: 12vh;
    justify-content: space-between;
    padding: var(--pading);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
    gap: 40px;
    text-transform: uppercase;
    font-weight: 400;
    color: var(--secoundry-text-color);
}

ul li i {
    align-self: center;
    font-size: 13px;
    color: var(--primary-text-color);
}

nav img {
    width: 60px;
}

nav button:last-child {
    background: rgb(66, 69, 74);
    color: rgb(255, 255, 255);
}




/* contant area */

.header-section .hero {
    height: 80vh;
    position: relative;
}


/*  */
.hero .hero-text {
    padding: 10px 0px 0px 30px;
    width: 50%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;

}

.hero-text h1 {
    height: 40%;
    width: 100%;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15vh;
    color: var(--secoundry-text-color);
}

.hero-text h1 span {
    font-weight: 800;
    color: var(--primary-text-color);
}

.hero-text .hero-text-sapraet {
    border: var(--border);
    border-radius: 10px;
    border-color: var(--secoundry-text-color);
    width: 60%;

}

.hero-text p {
    color: var(--secoundry-text-color);
}

.hero-text .hero-text-botum {
    height: 15%;
    width: 100%;
    justify-content: start;
    ;
}

.hero-text-botum .hero-same {
    width: 35%;
    height: 100%;
    justify-content: start;
    gap: 20px;
}

.hero-text-botum .buy-butt {
    font-size: 20px;
    font-weight: 500;
}

.hero-text-botum .buy-butt div {
    height: 70px;
    width: 70px;
    background-color: var(--secoundry-text-color);
    font-size: 30px;
    color: white;
}

.hero-text-botum .vido-butt span {
    font-size: 15px;
    line-height: 19px;
    color: var(--secoundry-text-color);
}

.hero-text-botum .vido-butt img {
    animation: roted infinite 10s ease-in;
}

/* animation on video */
@keyframes roted {
    0% {
        transform: rotate(0deg);

    }

    100% {
        transform: rotate(360deg);

    }
}


/*  */
.hero .hero-img {
    padding: 10px 30px 0px 0px;
    width: 60%;
    height: 100%;
    z-index: 0;
    position: absolute;
    right: 0;

}

.hero-img img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}



/*  */
.header-section .viwe-bikes {
    width: 100%;
    height: 160px;
    justify-content: end;
}

.viwe-bikes {
    gap: 25px;
    padding: var(--pading);
}

.viwe-bikes .num {
    width: fit-content;
    height: 100%;
    font-size: 9rem;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--secoundry-text-color);
}

.num h3 {
    font-family: cursive;
}

.viwe-bikes .clike {
    width: fit-content;
    height: 100%;
    justify-content: end;
}

.clike .arrow {
    width: 130px;
    height: 33%;
    border-radius: 50px;
    border: var(--border);
    border-color: var(--primary-text-color);
    border-width: 1.5px;
}

.arrow div {
    width: 50%;
    height: 100%;
    font-size: 20px;
}

.arrow .arrow-1 {
    border-right: 1.5px solid var(--primary-text-color);
}