/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Hubballi&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: var(--font-regular);
}

/* utility class */
.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  padding: 10px 25px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 500;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

h2 {
  font-size: 3.5rem;
  text-transform: capitalize;
  margin-bottom: 15px;
  color: var(--primary-text-color);
}

p {
  color: var(--secoundry-text-color);
  font-weight: 500;
  font-size: 1.1rem;
  text-transform: capitalize;
}

/* rgb(93, 95, 99) */
:root {
  --primary-text-color: rgb(66, 69, 74);
  --secoundry-text-color: rgb(93, 95, 99);
  --pading: 0px 35px;
  --border: 2px solid red;
  --font-regular: "Balsamiq Sans", Hubballi, sans-serif;
  /* --font-regular: Poppins, Verdana, Geneva, Tahoma, sans-serif; */
}

/* hhhhhhhhhhhhhhh main contaner hhhhhhhhhhhhhhhhhhhh */

.main-Container {
  max-width: 1900px;
  margin: auto;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section one hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

.main-Container .header-section {
  width: 100%;
  height: fit-content;
}

/* making nav */
.header-section nav {
  width: 100%;
  height: 12vh;
  justify-content: space-between;
  padding: var(--pading);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav ul {
  gap: 40px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--secoundry-text-color);
}

ul li i {
  align-self: center;
  font-size: 13px;
  color: var(--primary-text-color);
}

nav img {
  width: 60px;
}

nav button:last-child {
  background: rgb(66, 69, 74);
  color: rgb(255, 255, 255);
}

/* contant area */

.header-section .hero {
  height: 80vh;
  position: relative;
}

/*  */
.hero .hero-text {
  padding: 10px 0px 0px 30px;
  width: 50%;
  height: 100%;
  z-index: 1;
  position: absolute;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 40px;
}

.hero-text h1 {
  height: 40%;
  width: 100%;
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: 400;
  line-height: 15vh;
  color: var(--secoundry-text-color);
}

.hero-text h1 span {
  font-weight: 800;
  color: var(--primary-text-color);
}

.hero-text .hero-text-sapraet {
  border: var(--border);
  border-radius: 10px;
  border-color: var(--secoundry-text-color);
  width: 60%;
}

.hero-text p {
  color: var(--secoundry-text-color);
}

.hero-text .hero-text-botum {
  height: 15%;
  width: 100%;
  justify-content: start;
}

.hero-text-botum .hero-same {
  width: 35%;
  height: 100%;
  justify-content: start;
  gap: 20px;
}

.hero-text-botum .buy-butt {
  font-size: 20px;
  font-weight: 500;
}

.hero-text-botum .buy-butt div {
  height: 70px;
  width: 70px;
  background-color: var(--secoundry-text-color);
  font-size: 30px;
  color: white;
}

.hero-text-botum .vido-butt span {
  font-size: 15px;
  line-height: 19px;
  color: var(--secoundry-text-color);
}

.hero-text-botum .vido-butt img {
  animation: roted infinite 6s linear;
}

/* animation on video */
@keyframes roted {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*  */
.hero .hero-img {
  padding: 10px 30px 0px 0px;
  width: 60%;
  height: 100%;
  z-index: 0;
  position: absolute;
  right: 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

/* viwe bikes  */
.header-section .viwe-bikes {
  width: 100%;
  height: 160px;
  justify-content: end;
}

.viwe-bikes {
  gap: 25px;
  padding: var(--pading);
}

.viwe-bikes .num {
  width: fit-content;
  height: 100%;
  font-size: 9rem;
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secoundry-text-color);
}

.num h3 {
  font-family: cursive;
}

.viwe-bikes .clike {
  width: fit-content;
  height: 100%;
  justify-content: end;
}

.clike .arrow {
  width: 130px;
  height: 33%;
  border-radius: 50px;
  border: var(--border);
  border-color: var(--primary-text-color);
  border-width: 1.5px;
}

.arrow div {
  width: 50%;
  height: 100%;
  font-size: 20px;
}

.arrow .arrow-1 {
  border-right: 1.5px solid var(--primary-text-color);
}

/* hero bike fetures */
.header-section .hero-bike-feture {
  width: 100%;
  height: 170px;
  justify-content: space-between;
  padding: var(--pading);
  margin-top: 20px;
  margin-bottom: 50px;
}

.hero-bike-feture .fetures {
  width: 160px;
  height: 130px;
  border-radius: 15px;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
  box-shadow: -6px 6px 15px rgba(0, 0, 0, 0.1);
}

.fetures h3 {
  font-size: 2.2rem;
  color: var(--primary-text-color);
}

.fetures h3>span {
  font-size: 1.2rem;
}

.fetures h4 {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: var(--secoundry-text-color);
  font-weight: 600;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section one ended hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section two hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* product information section */
.product-info-section {
  width: 100%;
  height: 800px;
  padding: var(--pading);
}

.product-info-section .p-info-text {
  height: 20%;
  flex-direction: column;
}

/* .p-info-text h2 {
    font-size: 3rem;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: var(--primary-text-color);
} */

/* .p-info-text p {
    color: var(--secoundry-text-color);
    font-weight: 500;
    font-size: 1.1rem;
} */

.product-info-section .p-info-img-text {
  height: 80%;
  width: 100%;
}

.p-info-img-text .image {
  width: 50%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.p-info-img-text .image-text {
  width: 50%;
  height: 100%;
}

.image-text ul {
  flex-direction: column;
  align-items: start;
  width: 100%;
  height: 100%;
}

.image-text ul li {
  gap: 15px;
  margin: 15px 0px 20px 200px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--secoundry-text-color);
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section two ended hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section three hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* high efficiency motor section */
.high-effic-moter-section {
  height: fit-content;
  width: 100%;
  height: fit-content;
  padding-top: 75px;
  align-items: center;
  /* justify-content: ; */
}

.h-e-m-image img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section three ended hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section four hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* multiple accessoris section */
.multiple-accessories-section {
  height: 1300px;
  flex-direction: column;
  justify-content: space-between;
}

/*  */
.multiple-accessories-section .multi-a-text {
  flex-direction: column;
  height: 10%;
  width: 100%;
}

/*  */
.multiple-accessories-section .multi-a-img-text-one {
  height: 35%;
  width: 100%;
  padding: var(--pading);
}

.multi-a-img-text-one .one-text {
  width: 35%;
  height: 100%;
}

.one-text {
  flex-direction: column;
  align-items: start;
  gap: 25px;
}

.one-text,
.two-text h3 {
  font-size: 2.5rem;
  color: var(--primary-text-color);
  text-transform: capitalize;
}

.one-text ul>li {
  gap: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secoundry-text-color);
  justify-content: start;
}

.multi-a-img-text-one .one-img {
  width: 65%;
  height: 100%;
}

.one-img img {
  height: 100%;
  width: 90%;
  object-fit: scale-down;
}

/*  */
.multiple-accessories-section .multi-a-img-text-two {
  height: 35%;
  width: 100%;
}

.multi-a-img-text-two .two-text {
  width: 30%;
  height: 100%;
}

.two-text {
  flex-direction: column;
  gap: 25px;
  align-items: start;
}

.two-text h3 {
  font-size: 2.5rem;
  color: var(--primary-text-color);
}

.two-text ul>li {
  gap: 20px;
  margin-bottom: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--secoundry-text-color);
  justify-content: start;
}

.multi-a-img-text-two .two-img {
  width: 75%;
  height: 100%;
  justify-content: start;
}

.two-img img {
  width: 85%;
  height: 100%;
}

/*  */
.multiple-accessories-section .multi-a-infor {
  height: 10%;
  width: 100%;
}

.multi-a-infor .info {
  width: 40%;
  height: 70%;
  border: var(--border);
  border-color: var(--secoundry-text-color);
  border-width: 2.5px;
  border-radius: 10px;
  text-transform: capitalize;
  font-size: 1.8rem;
  color: var(--primary-text-color);
  font-weight: 600;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section four ended hear hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section five hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* gelary section */

.main-Container .gelary-section {
  width: 100%;
  height: 1250px;
  margin: 75px 0px;
}

/* gellary text */
.gelary-section .gelary-text {
  flex-direction: column;
  height: 20%;
}

/* galary images */
.gelary-section .gelary-images {
  height: 80%;
  padding: var(--pading);
}

.gelary-images .img-one-outer {
  width: 50%;
  height: 100%;
  align-items: end;
  justify-content: start;
}

.img-one-outer .imges-one {
  width: 90%;
  height: 100%;
  flex-direction: column;
  gap: 60px;
  justify-content: end;
}

.imges-one>div {
  width: 95%;
  position: relative;
}

.imges-one>div>h3 {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.7rem;
  color: var(--secoundry-text-color);
}

.imges-one>div>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imges-one .img-one-text {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  height: fit-content;
}

.img-one-text div {
  width: 95%;
  padding: 25px 10px;
  border-radius: 15px;
  border: 3px solid var(--secoundry-text-color);
  font-size: 1.8rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--primary-text-color);
}

.gelary-images .img-two-outer {
  width: 50%;
  height: 100%;
  justify-content: end;
}

.img-two-outer .imges-two {
  height: 100%;
  width: 90%;
  justify-content: space-between;
  /* align-items: end; */
  flex-direction: column;
}

.imges-two div {
  width: 95%;
  height: 435px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  position: relative;
}

.imges-two div>h3 {
  position: absolute;
  top: 5%;
  left: 5%;
  font-size: 1.7rem;
  color: var(--secoundry-text-color);
}

.imges-two div img {
  width: 100%;
  height: 100%;
  object-fit: fil;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section five ended hear hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section six hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* colors section */
.main-Container .colors-section {
  /* border: var(--border);/ */
  width: 100%;
  height: 1100px;
  position: relative;
  overflow: hidden;
  margin-top: 115px;
}

/*  */
.colors-section .color-text {
  width: 100%;
  height: 20%;
  flex-direction: column;
}

/*  */
.colors-section .colors-imgs {
  width: 100%;
  height: 80%;
  position: relative;
}

.colors-imgs .white-img {
  width: 100%;
  height: 85%;
  background: linear-gradient(to right, #ede8e2, #ffffff);
}

.colors-imgs .white-img img {
  height: 100%;
  width: auto;
}

.colors-imgs .multi-c-imgs {
  width: 100%;
  height: 28%;
  position: absolute;
  bottom: 0px;
  padding: var(--pading);
  justify-content: space-between;
}

.colors-imgs .multi-c-imgs div {
  width: 220px;
  height: 220px;
  position: relative;
}

.colors-imgs .multi-c-imgs div>img {
  position: absolute;
  top: -40px;
  width: 300px;
}

.multi-c-imgs div>.img-4 {
  right: -33px;
}

.multi-c-imgs div>.img-2 {
  left: -33px;
}

.multi-c-imgs .h4-1,
.h4-3 {
  bottom: 6%;
}

.multi-c-imgs h4 {
  position: absolute;
  bottom: 3%;
  right: 10%;
  z-index: 100;
  font-size: 3rem;
  color: rgba(255, 255, 255, 0.459);
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section six ended hear hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section seven  hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
/* testimonials section seven */
.main-Container .testimonials-section {
  height: 750px;
  /* border: var(--border); */
  gap: 50px;
  flex-direction: column;
  margin-top: 55px;
  background-color: #f7f7f7;
}

/*  */
.testimonials-section .testimonial-text {
  width: 100%;
  align-items: end;
  height: fit-content;
}

.testimonials-section .testimonial-text h2 {
  margin: 0px;
  line-height: 50px;
}

/*  */
.testimonials-section .testimonial-cards {
  height: 47%;
  width: 100%;
  gap: 50px;
}

.testimonial-cards .cards {
  width: 26%;
  height: 100%;
  border: 1px solid gray;
  flex-direction: column;
  text-align: center;
  position: relative;
  gap: 25px;
  justify-content: start;
  padding-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
  transition: all 0.3s linear;
}

.cards div i {
  color: rgb(226, 226, 0);
}

.cards p {
  text-transform: capitalize;
  font-size: 16px;
}

.cards .person-detail {
  height: fit-content;
  width: fit-content;
  position: absolute;
  bottom: 8%;
  word-break: keep-all;
  gap: 10px;
}

.person-name {
  text-align: start;
  line-height: 20px;
}

.person-detail img {
  height: 50px;
}

.person-name h3 {
  color: var(--primary-text-color);
}

.person-name h4 {
  color: var(--secoundry-text-color);
  font-weight: 18px;
  font-size: 12px;
}

.cards:hover {
  background-color: white;
  transform: scale(1.08);
  box-shadow: 10px 10px 15px #dcdcdc;
  border: none;
}

.cards:nth-child(1) {
  background-color: white;
  transform: scale(1.04);
  box-shadow: 10px 10px 15px #dcdcdc;
  border: none;
}

/*  */
.testimonials-section .testimonial-scroll-but {
  height: 10%;
  width: 100%;
  gap: 30px;
}

.testimonial-scroll-but>div {
  border: var(--border);
  border-color: var(--primary-text-color);
  height: 75px;
  border-radius: 50%;
  width: 75px;
}

.testimonial-scroll-but>div i {
  font-size: 30px;
  color: var(--primary-text-color);
}

.testimonial-scroll-but .scrl-right {
  background-color: var(--primary-text-color);
}

.testimonial-scroll-but .scrl-right i {
  color: white;
}

/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section seven ended hear hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/





/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section 8 footer hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/
.main-Container .footer-section {
  height: 140vh;
}

.footer-section .upper-f {
  height: 50%;
  flex-direction: column;
  gap: 50px;
}

.upper-f .up-f-text {
  text-align: center;
}

.upper-f .up-f-input {
  height: 15%;
  width: 40%;
}

.up-f-input form {
  height: 100%;
  justify-content: space-between;
}

.up-f-input input {
  padding: 10px 20px;
  height: 100%;
  border-radius: 10px;
  font-size: 1.6rem;
  font-weight: 500;
  outline: none;
  border: none;
}

input:nth-child(1) {
  width: 70%;
  background-color: #f7f7f7;
}

input:nth-child(2) {
  width: 28%;
  background-color: var(--primary-text-color);
  color: white;
}

.footer-section .lower-f {
  height: 50%;
  background-color: var(--primary-text-color);
}

.lower-f .l-f-img-li {
  height: 85%;
  width: 100%;
  justify-content: space-between;
}

.l-f-img-li .f-img {
  width: 40%;
  height: 100%;
  position: relative;
}

.l-f-img-li .f-img img {
  position: absolute;
  bottom: -7%;
  width: 100%;
}

.l-f-img-li .ul {
  width: 60%;
  height: 100%;
  justify-content: start;
  gap: 45px;
  padding-left: 100px;
}

.ul>div {
  width: 25%;
  height: 100%;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 55px;
  color: white;
  font-family: sans-serif;
  padding-top: 70px;
  position: relative;
}

.ul>div>h3 {
  text-transform: capitalize;
  font-size: 2.2rem;
}

.ul>div>ul>li {
  text-transform: capitalize;
  margin-bottom: 40px;
  font-size: 1.2rem;
  font-weight: 400;
}

.ul-3>span {
  position: absolute;
  bottom: 20%;
  font-size: 2.1rem;
  gap: 30px;
}

.lower-f .copyright {
  height: 15%;
}

.copyright h4 {
  font-size: 1.4rem;
  color: white;
}


/* hhhhhhhhhhhhhhhhhhhhhhhhhhh section 8 footer ended hear hhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhhh*/